:root {
    --light: #fff;
    --dark: #000;
    --grey: #595959;
    --accent: #4285f4;
    --secondary: #2f486f;
    --tertiary: #eeeeee;
    --highlight: #eeff41ff;
    --debug: 0px;
}

/* main buckets */

div {
    margin: 0;
    padding: 0;
}

div#contents_bucket {
    display: flex;
    flex-direction: column;
    gap: 1rem;

    margin: 1rem;
    padding: 1rem;
    border: var(--debug) solid green;
}

div#question_bucket {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 1rem;
    height: calc(100vh - 4rem);

    margin: 1rem;
    padding: 1rem;
    border: var(--debug) solid green;
}

div.column_bucket {
    display: flex;
    flex-direction: column;
    gap: 1.00rem;

    margin: 0;
    padding: 0;
    border: var(--debug) solid red;
}

/* separators */

hr {
    margin: 0;
    padding: 0;
    border: none;
    border-bottom: 4px solid var(--tertiary);
}

/* midpage elements */

img#q_diagram {
    height: auto;
    width: auto;
    max-width: 100%;
    object-fit: contain;
    object-position: right center;
}

div#q_calculator {
    margin: 0;
    padding: 0;
}

img#q_diagram, div#q_calculator {
    flex: 0.75 1 0;
    min-height: 0;
    max-height: 90%;
    height: 90%;
    width: auto;
    border: var(--debug) solid red;
    outline: none;
}

img:not([src]), img[src=""] {
  opacity: 0;
}

/* rows and columns */

div#question_bucket, div.column_bucket {
    min-height: 0;
}

div.row_bucket {
    display: flex;
    justify-content: space-between;
    row-gap: 1rem;
    gap: 0.50rem;

    margin: 0;
    padding: 0;
    border: var(--debug) solid green;
}

div.row_bucket#midpage_bucket {
    display: flex;
    flex: 1 1 0;
    min-height: 0;
    align-items: stretch;
}

/* footer elements */

div.q_difficulty {
    width: 8rem;
    height: 0.80rem;
    margin: 0;
    padding: 0;
    background: var(--light);
    border: 2px solid var(--secondary);
    border-radius: 0.80rem;
}

div.q_difficulty.q_filled {
    background: var(--accent)
}

/* button, bubble elements */

.q_bubble {
    font-size: 1.20rem;
    font-weight: 800;
    color: var(--grey);

    white-space: nowrap;

    background: var(--light);
    outline: none;
    border: 2px solid var(--grey);
    border-radius: 3.00rem;

    margin: 0;
    padding: 0.20rem;
    padding-left: 1.40rem;
    padding-right: 1.40rem;
    height: auto;
    width: auto;
}

button.q_bubble:hover {
    cursor: pointer;
    background: var(--tertiary);
}

button.q_bubble.q_selected {
    color: var(--light);
    background: var(--accent);
    border: 2px solid var(--secondary);
}

button#q_toggle {
    font-size: 1.20rem;
    font-weight: 800;
    color: var(--light);

    background: var(--accent);
    outline: none;
    border: 2px solid var(--secondary);
    border-radius: 3.00rem;

    margin: 0;
    padding: 0;
    height: 2.60rem;
    width: 8.20rem;
}

button#q_toggle:hover {
    cursor: pointer;
}

button#q_desmos {
    background: none;
    background-image: url("content/desmos_icon.png");
    background-size: cover;
    background-position: center;
    outline: none;
    border: 2px solid var(--secondary);
    border-radius: 50%;

    margin: 0;
    padding: 0;
    height: 2.60rem;
    width: 2.60rem;
}

button#q_desmos:hover:not(:disabled) {
    cursor: pointer;
}

button#q_desmos:disabled {
    filter: grayscale(100%);
}

/* text elements */

h1, h2, p, li, button, div {
    font-family: "Funnel Sans", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

h1 {
    font-weight: 400;
    font-size: 3.20rem;
    color: var(--grey);

    padding: 0;
    margin: 0;

    border: var(--debug) solid blue;
}

h2 {
    font-weight: 400;
    font-size: 2.80rem;
    color: var(--grey);

    padding: 0;
    margin: 0;

    border: var(--debug) solid blue;
}

p#q_prompt, p#q_free_choice {
    font-weight: 800;
    font-size: 1.60rem;
    color: var(--grey);

    padding: 0;
    margin: 0;

    border: var(--debug) solid blue;
}

p#q_free_choice {
    flex: 0.25 1 0;
}

p.q_info {
    font-weight: 400;
    font-size: 1.20rem;
    color: var(--grey);

    padding: 0;
    margin: 0;

    border: var(--debug) solid blue;
}

p#q_id {
    color: var(--tertiary);
}

li {
    font-weight: 500;
    font-size: 1.20rem;
    color: var(--grey);

    padding: 0.50rem;
    margin: 0;

    border: var(--debug) solid red;
}

ol {
    border: var(--debug) solid blue;

    padding: 0;
    padding-left: 2.50rem;
    margin: 0;
}

ol#q_choices li {
    font-weight: 400;
    font-size: 1.60rem;
    color: var(--grey);

    padding: 0.50rem;
    margin: 0;

    border: var(--debug) solid red;
}

ol#q_choices li.correct_choice, p#q_free_choice.correct_choice {
    background: var(--highlight);
}

ol#q_choices li::marker {
    color: var(--accent);
    font-weight: 800;
}

li.c_topic {
    color: var(--accent);
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;  
}

li.c_topic:hover {
    cursor: pointer;
}

/* modifying classes */

.hidden, div#question_bucket.hidden, div#contents_bucket.hidden {
    display: none;
}